@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* Aplica a regra principal para evitar qualquer tipo de scroll */
html, body {
  overflow: hidden; /* A regra mais importante! */
  width: 100%;
  height: 100%;
  background: black; /* Garante fundo preto em tudo */
}

/* Opcional: mantém o código para esconder a barra caso o overflow falhe em algum navegador */
body {
  /* Esconde para IE, Edge e Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Esconde para Chrome, Safari e Opera */
body::-webkit-scrollbar {
  display: none;
}